@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    color: #cac4c4;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

h1 {
    text-align: center;
    color: #BE1313;
    font-size: 8vw;
    margin: -1px;
}

.box {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: 45%;
    height: 200px;
    background-color: #242424;
    margin: 10px;
    padding: 10px;
}

#copyright {
    height: 4%;
    position: absolute;
    top: 90%;
}